<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tim.ap.mapper.ConferenceMapper">

	<resultMap type="com.tim.ap.entity.ConferenceEntity" id="ConferenceResultMap">
		<result property="id" column="ID" />
		<result property="title" column="TITLE" />
		<result property="date" column="DATE" />
		<result property="role" column="ROLE" />
		<result property="entry" column="ENTRY" />
		<result property="closed" column="CLOSED" />
	</resultMap>

	<select id="getConferenceList" resultType="com.tim.ap.entity.ConferenceEntity">
		SELECT ID, TITLE, DATE, ROLE, ENTRY, CLOSED
			FROM CONFERENCE
			WHERE CLOSED = 'N'
	</select>

	<update id="updateConference" parameterType="com.tim.ap.entity.ConferenceEntity">
		UPDATE CONFERENCE
			SET
			<if test="title != null">
				TITLE = #{title}
			</if>
			<if test="date != null">
				DATE = #{date}
			</if>
			<if test="role">
				ROLE = #{role}
			</if>
			<if test="entry">
				ENTRY = #{entry}
			</if>
			<if test="closed">
				CLOSED = #{closed}
			</if>
			WHERE
				ID = #{id}
	</update>

	<insert id="insertConference" parameterType="com.tim.ap.entity.ConferenceEntity">
        INSERT INTO CONFERENCE (TITLE, DATE) 
        VALUES(#{title},#{date})
    </insert>

	<select id="selectConference" resultType="com.tim.ap.entity.ConferenceEntity">
		SELECT ID, TITLE, DATE, ROLE, ENTRY, CLOSED
			FROM CONFERENCE
			ORDER BY ID DESC
            LIMIT 1
	</select>
</mapper>
